$bg-color: #0b0c10;
$sec-bg-color: #1f2833;
$prim-color: #66fcf1;
$sec-color: #45a292;
$gray: #c5c6c7;

body{
	font-family: 'Fira Code', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
	font-weight: 700;
}

a, a:hover, a:visited {
	color: $prim-color;
	text-decoration: none;
}


// HEADER

.navbar {
	background-color: $bg-color;
}

.navbar-brand, .navbar-brand:visited, .navbar-brand:hover {
	font-weight: 700;
	color: $prim-color;
	font-size: 1.5rem;
}

.nav-link:visited, .nav-link:hover {
	color: $prim-color;
}

.btn-main {
	background-color: $prim-color !important;
	color: $bg-color;
}

input {
	background-color: $sec-bg-color !important;
	color: $prim-color !important;
}

// HERO

.hero {
	background-color: $sec-bg-color;
	height: 100vh;


	&__post {
		position: relative;
		margin-top: 5vh;


		img {
			height: 100%;
			width: 100%;
		}

		&__badges {
			position:absolute;
			top:20px;
			right: 20px;

			a {
				padding: 5px;
				font-size: 1rem;
				text-align: center;
				display: block;
				background-color: $bg-color;
				color: $prim-color;
				margin-bottom: 5px;

				i {
					margin-right: 10px;
				}
			}

		}

		&__content {
			position: absolute;
			bottom: 20px;
			left: 20px;

			img {
				border: 2px solid $prim-color;
			}

			h3 {
				color: $prim-color;
				padding-top: 3%;
			}

			h2 {
				color: $prim-color;
				padding-top: 5%;
			}
		}

	}
}

.hero__post__small {
	height: 35vh;
	img {
		height: 100%;
		width: 100%;
	}
}

.hero__post__big {
	height: 75vh;
}

.blog__post {
	margin-top: 90px;
	padding-right: 5%;
	text-align: justify;

	&__content {
		p {
			margin-top: 3%;
		}

		img {
			border: 2px solid $prim-color;
		}
	}

	&__tags {
		text-align: center;
		font-weight: bold;
	}

	h2 {
		margin-top: 3%;
	}
}

.blog-image {
	border: 5px solid $prim-color;
}

.aside__header {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 90px;
	font-size: 2rem;
}

.top__author {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info {
		padding-left: 10px;
		text-align: left;

		h5 {
			margin-bottom: 7px;
		}

		p {
			margin-bottom: 7px;
		}

		&__links {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 50%;

			a {
				font-size: 1.3rem;
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1400px){
	.hero__post__small {
		&__content{
			h3 {
				font-size: 1.2rem;
			}
			img {
				height: 70px;
				width: 75px;
			}
		}
	}

	.hero__post__small__content {
		bottom: 5px;
		right: 5px;

		h3 {
			transform: translateY(40%);
		}
	}
}

@media (max-width: 992px) {
	.hero {
		height: fit-content;
	}

	.hero__post {
		height: 60vh;
	}
}

@media (max-width: 600px) {
	.hero {
		height: fit-content;
	}

	.hero__post {
		height: 45vh;
	}
}
